.upload-box {
  border: 2px dashed white;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-custom {
  background-color: #0047ab;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.btn-custom:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.upload-description {
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.upload-description p {
  margin-bottom: 20px;
}

.upload-description ul {
  list-style-type: none;
  padding: 0;
}

.upload-description ul li {
  margin-bottom: 10px;
}

.upload-description ul li span {
  margin-right: 10px;
}
 
@media only screen and (max-width: 2400px) and (min-width: 720px)  { 
  .main-box{
    width:60%;
  }
} 


@media (max-width: 600px) {
  .button-container {
      flex-direction: column !important; /* Stack buttons vertically */
      align-items: center;
  }

  .button-container .btn {
      margin: 10px 0 !important; /* Add margin to each button */
      width: 100% !important; /* Make buttons full width on mobile */
  }
}
